@font-face {
  font-family: "Google Sans Code";
  src: url(./assets/fonts/GoogleSansCode-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Google Sans Code Italic";
  src: url(./assets/fonts/GoogleSansCode-Italic-VariableFont_wght.ttf);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #05171e;

  color: aliceblue;

  font-family: "Google Sans Code";
}

.header_background {
  height: 80px;
  background-color: #082029;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  z-index: -1;
}

.page_header {
  height: 80px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.red {
  color: #e8625a;
}

.separator {
  border-bottom: 2px solid blue;
  width: 100%;
}

.content {
  max-width: 1440px;
  margin: 0 auto;

  padding: 0 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}

.book_icon {
  font-size: 72px;
  padding: 32px 0;
}

.book_section_header {
  width: 100%;
  height: 64px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main_section {
  background-color: #0d3240;
  width: 400px;
  margin: 0 auto;
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;

  margin-top: 70px;
}

.book_section_article {
  padding: 16px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book_icon {
  padding: 32px auto;
}

.book_price {
  font-size: 24px;
}

.book_info {
  width: 90%;
  height: 150px;
}

.book_info td {
  padding-bottom: 8px;
}

.book_info th {
  text-align: start;
}

.book_info td:last-child {
  text-align: end;
}

.price_likes_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  padding: 16px 0;
}

.likes_container {
  display: flex;
  align-items: center;
}

.heart {
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-position: center;
  margin-left: 4px;
}

.heart:hover {
  background-image: url(./assets/icons/favorite_24dp_FF0000_FILL1_wght400_GRAD0_opsz24.png);
  cursor: pointer;
}

.like {
  background-image: url(./assets/icons/favorite_24dp_FF0000_FILL1_wght400_GRAD0_opsz24.png);
}

.no_like {
  background-image: url(./assets/icons/favorite_24dp_E8625A_FILL0_wght400_GRAD0_opsz24.png);
}

.price_likes_container img {
  width: 30px;
  background-color: #ff0000;
}

.scroll_container {
  height: 200px;
  max-width: 350px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: blue #082029;
}

.comments_section {
  padding-top: 16px;

  font-family: "Google Sans Code Italic";
}

.comments_container p {
  font-weight: 100;
  text-align: justify;
  padding: 0 8px 8px 8px;
}

.comments_container h4 {
  align-self: center;
  justify-self: center;
}

.comments_formular {
  padding: 16px 0 0 0;
  display: flex;
  justify-content: center;
}

.comment_input {
  background-color: #05171e;
  color: #f0f8ff;
  padding: 8px;
  height: 32px;
  width: 300px;
  border: none;
  border-bottom: 1px solid blue;
  border-radius: 8px;
  padding-bottom: 4px;
}

.send_button {
  background-image: url(./assets/icons/send_32dp_F0F8FF_FILL1_wght400_GRAD0_opsz40.png);
  width: 32px;
  height: 32px;
  background-color: #0d3240;
  border: none;
  padding: 0;
  margin-left: 4px;
}

.send_button:hover {
  background-image: url(./assets/icons/send_and_archive_32dp_F0F8FF_FILL1_wght400_GRAD0_opsz40.png);
  cursor: pointer;
}
